@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

.splash {
  display: block;
  width: 90%;
  top: 50%;
  left: 50%;
  position: absolute;
  transition: 1s ease-in;

  span img {
    left: -1em;
  }
}

body {
  display: block;
  padding: 0;
  margin: 0;
}

.home, .servicios {
  animation: appear 250ms ease-in-out;
}

@keyframes appear {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

.inicio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  position: relative;
  transition: 1s ease-in;
  min-height: 100vh;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4em;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: #000;
    text-decoration: none;
  }
}

.glide {
  display: block;
  width: 95%;
  margin: 1em;
  .glide__slide {
    h1 {
      display: block;
      width: 60%;
      margin: auto;
      margin-bottom: 1em;
      font-family: 'Inter', sans-serif;
      font-weight: 400;
      color: #2c2c2e;
      text-align: center;
    }
    img {
      display: block;
      width: 65%;
      margin: auto;
    }
  } 

  .glide__bullets {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    width: 20%;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 3em;
    transform: inherit;
    position: inherit;
    bottom: inherit;
    left: inherit;
    .glide__bullet {
      background-color: #b1b1bd9f;

      &--active {
        background-color: #6f70ff;
      }
    }
  }
}

a, p, span {
  font-family: 'Inter', sans-serif;
}

.login_container {
  display: block;
  width: 100%;
  margin: auto;
  padding-bottom: 4em;
  position: relative;
  transition: 1s ease-in;
  background-image: url("/bg_login.png");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  &.signup {
    background-image: url("/bg_signup.png");
    .container {
      p {
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
      }
      span {
        margin-top: 1.5em;
        margin-bottom: 2em;
        font-weight: bold;
      }
      button {
        display: block;
        width: 100%;
        padding: 1em;
        font-size: 1rem;
        background-color: #e1b1af;
        color: #fff;
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        border: none;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.486);

        &:active {
          transform: scale(0.9);
        }
      }
      .btn_pink {
        display: flex;
      }
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 92%;
    margin: auto;
    gap: 1em;

    h1 {
      display: block;
      width: 70%;
      font-family: 'Inter', sans-serif;
      font-weight: 600;
      margin-bottom: 0.5em;
      margin-top: 3em;
      margin-left: -25vw;
      color: #2c2c2e;
    }

    input {
      display: block;
      width: 90%;
      padding: 1em;
      background-color: transparent;
      border-radius: 10px;
      border: 1px solid #8e8e93;
      outline: none;

      &:focus {
        border: 1px solid black;
      }
    }

    .btn_container {
      display: block;
      width: 100%;
      margin-top: 1em;

      button {
        display: block;
        width: 100%;
        padding: 1em;
        font-size: 1rem;
        background-color: #e1b1af;
        color: #fff;
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        border: none;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.486);

        &:active {
          transform: scale(0.9);
        }
      }

      p {
        font-family: 'Inter', sans-serif;
        font-weight: 400;

        a {
          text-decoration: none;
          font-weight: 600;
          color: #6f70ff;
        }
      }
    }
    a {
      color: #000;
    }
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button:active {
  transform: scale(0.9);
}

.btn_pink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1em;
  background-color: #e1b1af;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  gap: 2em;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.486);

  img {
    width: 10%;
  }
}

// HOME

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
  min-height: 100vh;
  background-image: url("/Fondo_Menu.jpg");
  h2 {
    color: #6d6d7c;
  }
  h1, h2 {
    display: block;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    margin-top: 2em;
    width: 95%;
    span {
      display: block;
      font-weight: 500;
      font-size: 1rem;
    }
  }
  .options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
    .btn_opt {
      display: block;
      width: 15%;
      &:active {
        transform: scale(0.9);
      }
      img {
        width: 100%;
        max-width: 30px;
        max-height: 5;
        background-color: #fff;
        box-shadow: 0px 0px 6px rgba(128, 128, 128, 0.356);
        padding: 1em;
        border-radius: 100%;
      }
      span {
        display: block;
        width: 100%;
        font-size: 0.6rem;
        padding: 0.1em;
        text-align: center;
      }
    }
  }
  .glide.specialists {
    .glide__slides {
      overflow: inherit;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }
    .glide__slide {
      img {
        display: block;
        width: 90%;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.527);
      }
    } 
  }
  .home_btn {
    display: block;
    padding: 1em;
    width: 90%;
    background-color: #e1b1af;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
    margin-top: 3em;
    margin-bottom: 9em;
  }
}

.sidebar {
  position: fixed;
  left: 0.5em;
  top: 1em;
  font-size: 1.5rem;
  background-color: #f2eadf;
  padding: 0.2em;
  border-radius: 5px;
  &:active {
    transform: scale(0.9);
  }
}

.sidebar_body {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 70vw;
  background-color: #fff;
  z-index: 2000;
  transition: 500ms ease-in-out;
  overflow: hidden;
  .pink_area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 3em;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    background-color: #e1b1af;
    color: #fff;
    img {
      border-radius: 100%;
    }
  }
  .anima {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    transition: 500ms ease-in-out;
  }
  button {
    position: absolute;
    width: 90%;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
    background-color: #e1b1af;
    color: #fff;
    padding: 0.8em;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
  }
}

.wrapper {
  display: block;
  position: fixed;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.377);
  width: 100%;
  top: 0;
  z-index: 1000;
}

.home_bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: -0.4em;
  border: 2px solid #ad423c;
  padding: 0.5em;
  background-color: #d8c2b7;
  gap: 1.3em;
  border-radius: 150px;
  margin-bottom: 2em;
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #fa7470;
    padding: 0.5em;
    font-size: 1.2rem;
    border-radius: 100%;
    border: none;
  }
}

.photo_popup {
  position: fixed;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 250ms ease;
  img {
    width: 80%;
    border-radius: 10px;
    
  }
}

// Servicios

.options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
  width: 95%;
  margin: auto;
  .btn_opt {
    display: block;
    width: 15%;
    &:active {
      transform: scale(0.9);
    }
    &.active > img {
      background-color: rgb(240, 116, 116);
    }
    img {
      width: 100%;
      max-width: 20px;
      max-height: 5;
      background-color: #fff;
      box-shadow: 0px 0px 6px rgba(128, 128, 128, 0.356);
      padding: 1em;
      border-radius: 100%;
    }
    span {
      display: block;
      width: 100%;
      font-size: 0.6rem;
      padding: 0.1em;
      text-align: center;
    }
  }
}

.servicios {
  display: block;
  width: 100%;
  margin: auto;
  img {
    width: 100%;
  }
  .go_back {
    display: flex;
    gap: 0.5em;
    padding: 0.5em;
    width: 95%;
  }
  .precios_list {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    margin-top: 0.5em;
    h1 {
      display: block;
      font-size: 1rem;
      font-family: 'Inter', sans-serif;
      text-align: center;
      color: rgb(63, 45, 45);
      padding: 1em;
    }
    span {
      display: block;
      font-size: 0.8rem;
      font-family: 'Inter', sans-serif;
      text-align: center;
      border-top: 1px solid rgb(219, 206, 206);
      padding: 0.7em;
      &.active {
        font-weight: bold;
        font-size: 0.9rem;
      }
    }
    &:nth-child(2) {
      border: none;
    }
  }
  button {
    display: block;
    width: 90%;
    background-color: #e1b1af;
    color: #fff;
    padding: 0.8em;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    &:disabled {
      color: gray;
      cursor: not-allowed;
      transform: scale(0.9);
    }
  }
}

// Details 

.detalles {
  display: block;
  width: 95%;
  margin: auto;
  .title_back {
    display: flex;
    width: 95%;
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    span {
      display: block;
      margin: auto;
      width: 95%;
    }
    .no_btn {
      display: block;
      width: 2%;
      padding: 0em;
      margin: auto;
      background-color: transparent;
      color: #000;
    }
  }
  img {
    display: block;
    width: 85%;
    margin: auto;
  }
  .badge_pink {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 86%;
    background-color: #e1b1af;
    margin: auto;
    font-size: 0.8rem;
    color: #fff;
    padding: 0.5em;
    border-radius: 150px;
    margin-top: 2em;
    border: 1px solid #ad423c;
    box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.26);
    p {
      display: flex;
      gap: 2em;
      width: 90%;
      margin: auto;
      text-align: center;
      padding: 1em;
      font-weight: bold;
      span {
        display: flex;
        align-items: center;
        width: 90%;
        font-size: 0.8rem;
      }
    }
  }
  p {
    display: block;
    width: 86%;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .date_form {
    .date_da {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      width: 86%;
      margin: auto;
      padding: 0.6em;
      margin-top: 1em;
      gap: 4em;
      background-color: #e1b1af;
      border-radius: 10px;
      input[type="date"], select {
        display: block;
        padding: 1em;
        border: none;
        appearance: none;
        outline: none;
        background-color: #e1b1af;
        color: #fff;
        font-family: 'Inter', sans-serif;
        &::-webkit-calendar-picker-indicator {
          filter: invert(1);
      }
      }
      span {
        color: #fff;
      }
    }
  }
  .specialist {
    display: block;
    width: 70%;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  button {
    display: block;
    width: 90%;
    background-color: #e1b1af;
    color: #fff;
    padding: 0.8em;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    &:disabled {
      color: gray;
      cursor: not-allowed;
      transform: scale(0.9);
    }
  }
}

a {
  text-decoration: none;
}

.screen_agendando {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: #fff;
  min-height: 100vh;
  width: 100vw;
  top: 0;
  animation: appear 100ms ease-in-out;
  .agendando {
    display: block;
    position: absolute;
    height: 8px;
    width: 80%;
    background-color: rgb(219, 207, 207);
    border-radius: 150px;
    .bar {
      display: block;
      height: 8px;
      background-color: rgb(165, 47, 130);
      position: relative;
      border-radius: 150px;
    }
  }
  p {
    margin-top: 6em;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 0.8rem;
  }
}

.agendado_success {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  background-color: #fff;
  min-height: 100vh;
  min-width: 100vw;
  flex-direction: column;
  animation: appear 100ms ease-in-out;
  .success_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f7;
    color: #f0d9d7;
    width: 40vw;
    height: 40vw;
    font-size: 4rem;
    border-radius: 150px;
  }
  h2 {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 1rem;
  }
  p {
    display: block;
    width: 50%;
    text-align: center;
    font-size: 0.8rem;
  }
  button {
    position: relative;
    top: 7em;
    display: block;
    width: 90%;
    background-color: #e1b1af;
    color: #fff;
    padding: 0.8em;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    border-radius: 10px;
  }
}
